﻿
@{
    ViewBag.Title = "Auth";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Auth @ViewBag.Auth</h2>

@if (!ViewBag.Auth)
{
    <h2>Log in</h2>
    <form action="/Main/Auth" method="post">
        <input type="text" name="User" placeholder="Username" />
        <input type="password" name="Pass" placeholder="Password" />
        <input type="submit" value="Log In" />
    </form>
}
else
{
    <h2>Already logged in</h2>
}

